//
//  Beta.xcconfig
//  OpenWeatherClient
//
//  Created by Huỳnh Kỳ Phú on 06/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT = beta
PRODUCT_NAME = Open Weather Client Beta
PRODUCT_BUNDLE_IDENTIFIER = com.phuhk.vdc-testing.OpenWeatherClient.beta
PRODUCT_VERSION = 1.0

// Endpoints
API_ENDPOINT_URL = https:\/\/api.openweathermap.org/data/2.5/

// OpenWeather
OPEN_WEATHER_APPID = 60c6fbeb4b93ac653c492ba806fc346d
